/*****************************************

				GENERAL

******************************************/

* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
    

}

h1 {
	text-align: center;
	padding-top: 50px;
	margin-bottom: 40px;
	font-size: 28px;
	text-shadow: -2px 4px 15px #000000;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

a:hover {
	color: black;
	border-bottom: solid #00BFFF;
}

.selected a {
	color: black;
	border-bottom: solid #00BFFF;
}

li a {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: -3px;
}

span {
	font-weight: bold;
}

.toTheTop {
	display: none;  
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 50px;  
}

.toTheTop img {
	max-height: 100%;
	max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.toTheTop:hover {
	cursor: pointer;
}

/*****************************************

				STICKY

******************************************/

.is-sticky .nav {
	background-color: rgba(0,0,0,0.4);
    box-shadow: -1px 5px 15px rgba(0,0,0,0.23);
    
}

.is-sticky .nav a {
	color: white;
}

.is-sticky .nav a:hover {
	color: black;
}

.is-sticky .nav .selected a {
	color: black;
}

/*****************************************

				SLIDER

******************************************/

.slick-dots {
	bottom: 25px;
	font-size: 16px;
}

/*****************************************

				HEADER

******************************************/

#header {
	/* HEADER GRADIENT */
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(169,200,214,1) 40%, rgba(169,200,214,1) 60%, rgba(255,255,255,1) 95%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(40%, rgba(169,200,214,1)), color-stop(60%, rgba(169,200,214,1)), color-stop(95%, rgba(255,255,255,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(169,200,214,1) 40%, rgba(169,200,214,1) 60%, rgba(255,255,255,1) 95%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(169,200,214,1) 40%, rgba(169,200,214,1) 60%, rgba(255,255,255,1) 95%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(169,200,214,1) 40%, rgba(169,200,214,1) 60%, rgba(255,255,255,1) 95%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(169,200,214,1) 40%, rgba(169,200,214,1) 60%, rgba(255,255,255,1) 95%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe', GradientType=1 );
	font-family: 'Orbitron', sans-serif;
	display: block;
	font-size: 2em;
    text-shadow: -2px 3px 10px #000;
    min-height: 100%;
    text-align: center;
}

#after {
	height: 2px;
	width: 100%;
	/* UNDERLINE GRADIENT */
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(6%, rgba(255,255,255,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(94%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 6%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

#header p {
	color: black;
	padding-bottom: 10px;
}

.nav {
	width: 100%;
	background: white;
      color: black;
      font-size: 18px;
      line-height: 1.6em;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
      width:100%;
      box-sizing:border-box;
      z-index: 1000;
      transition: 1s;
}


.nav li {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*****************************************

				ABOUT

******************************************/

#about {
	min-height: 450px;
	max-width: 1200px;
	padding-top: 40px;
	margin-bottom: 10px;
}

#about a img {
	width: 100px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: -10px;
	margin-left: 4%;
	margin-right: 4%;
}

#about p {
	text-align: justify;
	margin-left: 4%;
	margin-top: 10px;
	margin-right: 4%;
}

#quote {
	width: 100%;
	float: both;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 1.2em;
	color: black;
	font-weight: bold;
	text-shadow: -4px 6px 8px #000;
	background: url("../img/sky2.jpg") center center fixed no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#profile_photo {
	display: block;
	max-width: 250px;
	float: right;
	border-radius: 30px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 7%;
	margin-bottom: 100px;
	/* MIROR GRADIENT PROFILE PHOTO */
    box-reflect:below 0px linear-gradient(to bottom,
                                              transparent 50%,
                                              rgba(255,255,255,0.1) 90%,
                                              rgba(255,255,255,0.6) 100%,
                                              transparent 0%);
	-webkit-box-reflect:below 0px -webkit-linear-gradient(top,
                                              transparent 50%,
                                              rgba(255,255,255,0.1) 80%,
                                              rgba(255,255,255,0.6) 100%,
                                              transparent 0%);
}

/*****************************************

				SKILLS

******************************************/

#slide1 {
	background: rgba(0,0,0,0.2);
}

#slide2 {
	background: rgba(0,0,0,0.5);
}

#slide3 {
	background: rgba(0,0,0,0.8);
}

/*****************************************

				EXPERCIENCE

******************************************/

#experience {
	text-align: center;
}

#experience p {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	padding-bottom: 40px;
	vertical-align: middle;
}



/*****************************************

				CONTACT

******************************************/

#contact {
	background: rgba(0,0,0,0.4);
	width: 100%;
	max-height: 800px;
	color: white;
}

#const {
	padding: 5%;
	padding-top: 0;
	margin-top: -70px;
}

#const img {
	max-width: 100%;
	opacity: 0.7;
}



/*****************************************

				FOOTER

******************************************/

footer {
	background: rgba(0,0,0,0.8);
	padding-top: 20px;
	color: #DDD;
	text-align: center;
}

footer img {
	width: 20px;
	padding: 3px;
	padding-top: 10px;
	padding-bottom: 20px;
}

